/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app/Http/Controllers/Auth/
app/Http/Controllers/HomeController.php
package-lock.json
public/css/
public/images/
public/js/
public/mix-manifest.json
resources/js/components/*.css
resources/js/components/article/*.css
resources/js/components/article/*.map
resources/js/components/main/*.css
resources/js/components/main/*.map
resources/js/sass/
resources/views/auth/
resources/views/layouts/
